/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
/Packages/manifest.lock
/UserSettings/
/*.csproj
/*.sln
/*.userprefs
/*.pidb
/*.svd
/*.suo
/*.unityproj
/*.booproj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-UnityScript.csproj
/Assembly-UnityScript-Editor.csproj
/obj/
/ProjectSettings/ProjectSettings.asset.lock